@******************************** GRAFİK ÇİZ - INDEX2 ******************************@


@{
    ViewBag.Title = "GrafikCiz";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>GrafikCiz</h2>

@***Manuel Verilerle Grafik Oluşturma****

<div style="width:1000px;height:1000px">
    <img src="@Url.Action("GrafikCiz","Grafik")" />
</div>*@

<img src="@Url.Action("GrafikCiz","Grafik")" />